body {
  background-color: rgb(134, 90, 114);
  display: flex;
  justify-content: center;
}

#container {
  margin-top: 100px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 450px;
  height: 600px;
}

#affichage {
  justify-content: end;
  align-items: center;
  height: 60px;
  padding: 0 25px 0 0;
}

.ligne {
  display: flex;
  background-color: yellow;
  justify-content: space-evenly;
  flex-grow: 1;
}

button {
  width: 80px;
  margin: 5px;
}
